<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Login{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="/build/app.css">
            <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/491bd62e82.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
            crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" 
            crossorigin="anonymous"></script>
            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
                $(function() {
                    AOS.init({
                        duration: 1000
                    });
                });
            </script>
        {% endblock %}
    </head>

    <body>

        <div class="container-fluid ps-md-0">
        <div class="row g-0">
            <div data-aos="fade-right" class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                <div data-aos="zoom-in" class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4 text-center">Connexion</h3>
                    <p>Si vous êtes un particulier et que vous voulez consulter le catalogue, 
                    il faut d'abord vous créer un compte grâce au lien ci-dessous nommé "Cliquez ici ! ".</p>
                    <!-- Sign In Form -->
                    <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="row">
                    <div class="col-12 my-3">
                        <div class="form-outline">
                            <label for="email" class="text-lg">E-mail</label>
                            <input type="email" name="email" id="email" placeholder="Votre Email" value="{{ last_username }}"
                                   class="form-control form-control-lg"
                                   required>
                        </div>
                    </div>
                    <div class="col-12 my-3">
                        <div class="form-outline">
                            <label for="password" class="text-lg">Mot de passe</label>
                            <input type="password" name="password" id="password" autocomplete="password" placeholder="Password"
                                   class="form-control form-control-lg"
                                   required>
                        </div>
                    </div>
                        <input 
                            type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="col-12 my-3">
                            <button class="btn btn-lg custom-btn" type="submit">Se connecter</button>
                        </div>
                        </div>

                    </form>
                    <div class="text-center pt-12 pb-12">
                        <p class="mt-3">Pas encore de compte ? <a href="{{ path('register') }}" class="underline">Cliquez ici !</a></p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

    </body>
</html>
