
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/photo-media-1.jpg" class="d-block w-100" alt="mediatheque photo">
        </div>
        <div class="carousel-item">
            <img src="/images/photo-media-2.jpg" class="d-block w-100" alt="mediatheque photo">
        </div>
        <div class="carousel-item">
            <img src="/images/photo-media-3.jpg" class="d-block w-100" alt="mediatheque photo">
        </div>
    </div>
    <div class="carousel-caption d-md-block">
        <h5>Médiathèque E=Mc²</h5>
        <p>La médiathèque E=Mc² est située au centre-ville de La Chapelle-Curreaux, près de la mairie.<br>
        Gratuite, elle propose des activités et des ressources pour toutes et tous dans des espaces conviviaux.</p>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
