{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur le site de la médiathèque de La Chapelle-Curreaux{% endblock %}

{% block body %}
    {% include 'home/_carrousel.html.twig' %}
    {% for flashMessage in app.session.flashbag.get('success-registration') %}
            <div class="row">
                <div class="col-8 container">
                    <p class="text-center w-responsive mx-auto mb-5 alert alert-success">{{ flashMessage }}</p>
                </div>
            </div>
    {% endfor %}
    <section class="alert-homepage bg-warning container">
    <p>Suite à la pandémie Covid-19, la médiathèque La Chapelle-Curreaux ferme ses portes aux public (plus d'informations: <a href="#" class="text-danger">Mesures Covid-19</a>).
    Afin de palier à la fermeture de l'établissement, la médiathèque propose dorénavent à un systeme de click and  collect.<p>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Modalité de réservation:</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Afin de pouvoir réserver un/des livre(s), vous devez vous inscrire sur le site.</p> 
                <p>Concernant les réservations, vous avez 3 jours à compter de la date de réservation pour venir récuperer le(s) livres, 
                passé ce délais celle-ci sera annulée.
                </p>            
                <p>Le temps maximum d'un emprunt est de 1 mois à compter de la date de récuperation du livre</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom-btn" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
    </div>
    <section class="main--section d-flex flex-column justify-content-center container mx-auto">
        <h2>Click and collect</h2>
        <p class="main--section-text">Vous souhaitez découvrir un livre du catalogue et de le réserver?<br>
        Inscrivez-vous dès maintenant.
        </p>
        <a class="btn custom-btn" href="{{ path('register') }}">Ouvrir un compte</a>
    </section>
{% endblock %}
