<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Inscription{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="/build/app.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
            crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

 <body>

        <div class="container-fluid ps-md-0">
        <div class="row g-0">
            <div data-aos="fade-right" class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                <div data-aos="zoom-in" class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">

                    {{ form_start(registrationForm, {'action': path('register')}) }}
                    {{ form_errors(registrationForm) }} 
                        <div class="row">
                            <div class="col-12 my-3">
                                <div class="form-outline">
                                    <label for="name" class="text-lg">Nom</label>
                                    {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control form-control-lg',
                                    'placeholder': 'Dupond'}}) }}
                                </div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="form-outline">
                                <label for="name" class="text-lg">Prénom</label>
                            {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control form-control-lg',
                                'placeholder': 'Patrick'}}) }}
                                </div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="form-outline">
                                <label for="name" class="text-lg">Date de naissance</label>
                            {{ form_widget(registrationForm.birthdate, {'attr': {'class': 'form-control form-control-lg',
                            }}) }}
                                </div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="form-outline">
                                <label for="name" class="text-lg">E-mail</label>
                                {{ form_errors(registrationForm.email) }}
                                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control form-control-lg',
                                'placeholder': 'exemple@exemple.fr'}}) }}
                                </div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="form-outline">
                                    <label for="name" class="text-lg">Votre adresse</label>
                                    {{ form_widget(registrationForm.address, {'attr': {'class': 'form-control form-control-lg',
                                    'placeholder': '20 rue de symfony'}}) }}
                                </div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="form-outline">
                                    <label for="name" class="text-lg">Code postal</label>
                                    {{ form_widget(registrationForm.zipcode, {'attr': {'class': 'form-control form-control-lg',
                                    'placeholder': '75000'}}) }}
                                </div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="form-outline">
                                    <label for="name" class="text-lg">Votre ville</label>
                                    {{ form_widget(registrationForm.city, {'attr': {'class': 'form-control form-control-lg',
                                    'placeholder': 'La Chapelle-Cureaux'}}) }}
                                </div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="form-outline">
                                    <label for="name" class="text-lg">Votre mot de passe</label>
                                    {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control form-control-lg py-3',
                                    }}) }}
                                </div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="form-outline">
                                    {{ form_widget(registrationForm.save, {'attr': {'class': 'btn custom-btn',
                                    }}) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(registrationForm) }}
                    
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </body>
</html>