{{ form_start(form)}}
<div class="row justify-content-center" style="margin-top: 6rem;">
	<div class="col-sms-12 col-lg-8">
		<div class="row justify-content-start mb-4">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<h4>Nom</h4>
				{{ form_row(form.lastname) }}
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6">
				<h4>Prénom</h4>
				{{ form_row(form.firstname) }}
			</div>
		</div>
		<div class="text-center mt-4">
			<button class="btn btn-lg custom-btn">{{ button|default('Ajouter') }}</button>
		</div>
	</div>
</div>
{{form_end(form)}}
