{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
		{% include 'admin_dashboard/_nav.html.twig' %}
		<main class="admin--main_container">
			<h2 class="text-center mt-3">Liste des auteurs</h2>
			<div class="row justify-content-end mt-4">  
                <div class="col-lg-3">
                    <a href="{{ path('admin') }}" class="btn btn-lg custom-btn"><i class="fas fa-arrow-left"></i> Retour</a>
                </div>
            </div>
			<div class="table-responsive container custom-table mt-2 bg-light p-3 shadow">
				<table class="table table-hover">
					<tbody>
						<tr class="text-center">
							<th>Id</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th colspan="2">
								<a href="{{ path('admin-author-new') }}" class="btn btn-lg custom-btn">Ajouter un auteur</a>
							</th>
						</tr>
						{% for author in authors %}
							<tr class="text-center">
								<td>{{ author.id }}</td>
								<td>{{ author.lastname }}</td>
								<td>{{ author.firstname }}</td>
								<td>
									<a href="{{ path('admin-author-edit', {id: author.id}) }}" class="btn btn-lg custom-btn">Editer</a>
								</td>
								<td>
									<form method="post" action="{{ path('admin-author-delete', {id: author.id}) }}">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
										<button class="btn btn-lg custom-btn">Supprimer</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="d-flex justify-content-center pagination-lg">
					{{ knp_pagination_render(authors, 'base/_pagination.html.twig') }}
				</div>
			</div>
		</main>
{% endblock %}
