{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
		{% include 'admin_dashboard/_nav.html.twig' %}
		<main class="admin--main_container container">
			<h2 class="text-center" style="margin-top: 5rem;">Ajouter un auteur</h2>
			{{ include('admin_dashboard/author/_form.html.twig',{form: form, button: 'Ajouter'}) }}
		</main>
{% endblock %}
