<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>suivez-nous sur nos réseaux sociaux</span>
        </div>
        <div class="social-links">
            <a href="#" class="me-4 text-reset"><i class="fab fa-facebook-f me-3"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fab fa-twitter me-3"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fab fa-google me-3"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fab fa-instagram me-3"></i></a>
        </div>
    </section>
    <section class="about-us">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase mb-4">MEDIATHEQUE LA-CHAPELLE-CURREAUX</h6>
                    <p>
                        Bienvenu sur le site de la médiathèque de la ville de La Chapelle Curreaux
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">liens</h6>
                <p><a href="{{ path('library') }}" class="text-reset disabled">Catalogue</a></p>
                <p><a href="{{ path('contact') }}" class="text-reset">Contact</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i>La Chapelle-Curreaux</p>
                    <p><i class="fas fa-envelope me-3"></i>contact@e-mc2.com</p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
            </div>
        </div>
    </section>
</footer>