<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
    <a class="navbar-brand" href="{{ path('home') }}"><img src="/images/logo.svg" alt="Logo médtiathèque de La Chapelle-Curreaux"></a>
    <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto text-center">  
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('library') }}">Le catalogue</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_dashboard') }}">Espace membre</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Espace admin</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">nous contacter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link logout-item" href="{{path('app_logout')}}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <button type="button" class="btn custom-btn nav-link m-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Modalités de réservation
                    </button>
                </li>
                <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                    <a class="nav-link" href="{{path('login')}}">Connexion</a>
                </li>
                <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                    <a class="nav-link" href="{{path('register')}}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">nous contacter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>    
</nav> 
