<a {% for attr, value  in options %} {{ attr }}="{{ value }}" {% endfor %}>
	{{ title }}
	<span class="float-right">
		{% if sorted %}
			{% if direction == 'desc' %}
				Z à A
			{% else %}
				A à Z
			{% endif %}
		{% else %}
			A à Z
		{% endif %}
	</span>	
</a>

