<div class="row justify-content-center" style="margin-top: 1.5rem; font-size: 1.4rem;">
	<div class="col-sm-12 col-lg-3">
		<div class="form-control my-4" >
			<p style="font-size: 1.3rem;">*si l'auteur ne figure pas dans la liste, veuillez en créer un 
			<a href="{{ path('admin-author') }}" class="text-danger">ici</a>
			</p>
			<p style="font-size: 1.3rem;">*si la catégorie ne figure pas dans la liste, veuillez en créer un 
				<a href="{{ path('admin-category') }}" class="text-danger">ici</a>
			</p>
		</div>
	</div>
	<div class="col-sm-12 col-lg-9">
		<div class="form-control my-4 p-4">
			<div class="col-sm-12 col-md-3">
				<h4>Titre <span class="text-danger">*</span></h4>
				{{ form_row(form.title) }}
			</div>
			<div class="col-sm-12 col-md-3">
				<h4>Auteur <span class="text-danger">*</span></h4>
				{{ form_row(form.author) }}
			</div>
			<div class="col-sm-12 col-md-9">
				<h4>Catégorie <span class="text-danger">*</span></h4>
				{{ form_row(form.category) }}
			</div>
			<div class="col-sm-12 col-md-9">
				<h4>Résumé <span class="text-danger">*</span></h4>
				{{ form_row(form.Description) }}
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3">
				<h4>Date de publication <span class="text-danger">*</span></h4>
				{{ form_row(form.release_date) }}
				<h4>Disponibilité</h4>
				{{ form_row(form.isAvailable) }}
				<h4>Image de couverture</h4>
				{{ form_row(form.imageFile) }}
			</div>
		</div>
	</div>
</div>
{{form_end(form)}}
