<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}"><img src="/images/logo.svg" alt="Logo médtiathèque de La Chapelle-Curreaux"></a>
        <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">  
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('admin') }}" id="navbarDropdown" 
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">Tableau de bord</a>  
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">   
                        <li><a class="dropdown-item" href="{{ path('admin') }}">Tableau de bord</a></li>  
                        <li><a class="dropdown-item" href="{{ path('active-accounts') }}">Voir les comptes actifs</a></li>
                        <li><a class="dropdown-item" href="{{ path('inactive-accounts') }}">Compte en attente de validation</a></li>
                        <li><a class="dropdown-item" href="{{ path('requested_books') }}">Réservation en attente</a></li>
                        <li><a class="dropdown-item" href="{{ path('admin-library') }}">Voir le catalogue</a></li>
                        <li>
                            <a class="dropdown-item" href="{{ path('admin-category') }}">Editer une catégorie</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('admin-author') }}">Editer un auteur</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link logout-item" href="{{ path('app_logout') }}">Deconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>