<div class="table-responsive container custom-table mt-2 shadow-lg p-3">
    <table class="table table-hover">
        <tbody>
            <tr class="text-center">
                <th>id</th>
            <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Emprunt</th>
            </tr>
            {% for account in activeaccount %}
            <tr class="text-center">
                <td>{{ account.user.id }}</td>
                <td>{{ account.user.lastname }}</td>
                <td>{{ account.user.firstname }}</td>
                <td>{{ account.user.address }}, {{ account.user.zipcode }}, {{ account.user.city }}</td>
                <td>{{ account.user.email }}</td>
                <td><a href="{{ path('requested_book', {'id': account.id}) }}" class="btn btn-lg custom-btn">Voir</a></td>
            </tr>	
            {% endfor %}
        </tbody>
    </table>
</div>