{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
        {% include 'admin_dashboard/_nav.html.twig' %}
        <main class="admin--main_container">
            <h2 class="text-center mt-3">Liste des comptes utilisateurs actifs</h2>
            {% for flashMessage in app.session.flashbag.get('successReturn') %}
			<div class="row">
				<div class="col-8 container">
					<p class="text-center w-responsive mx-auto mb-5 alert alert-success">{{ flashMessage }}</p>
				</div>
			</div>
            {% endfor %}
            {{ form_start(form, {attr: {class: 'js-filter-form'}}) }}
            <div class="row mt-4 justify-content-center">
                <div class="col-sm-12 col-lg-3">
                    {{ form_row(form.search) }}  
                </div>      
                <div class="col-sm-12 col-lg-1">
                    <button class="btn custom-btn w-100" type="submit">RECHERCHE</button>
                 </div>                                  
            </div>
            {{ form_end(form)}}
            <div class="row mt-4 justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-8 custom-col-2 py-2 js-filter-content">
                    {% include 'admin_dashboard/_users.html.twig' %}	
                </div>
            </div>
            <div class="d-flex justify-content-center pagination-lg js-filter-pagination">
                {% include 'admin_dashboard/_pagination.html.twig' %}
            </div>
            <div class="row justify-content-end mt-4">  
                <div class="col-lg-3">
                    <a href="{{ path('admin') }}" class="btn btn-lg custom-btn"><i class="fas fa-arrow-left"></i> Retour</a>
                </div>
            </div>
        </main>
{% endblock %}
