{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
        {% include 'admin_dashboard/_nav.html.twig' %}
        <main class="admin--main_container">
            <h2 class="text-center mt-3">Compte en attente de validation</h2>
            {% for flashMessage in app.session.flashbag.get('confirmeduser') %}
				<div class="row">
					<div class="col-8 container">
						<p class="text-center w-responsive mx-auto mb-5 alert alert-success">{{ flashMessage }}</p>
					</div>
				</div>
            {% endfor %}
            <div class="table-responsive container custom-table p-2 shadow">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Adresse</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                            <th>Email</th>
                            <th>En attente de validation</th>
                        </tr>
                        {% for account in inactiveaccounts %}

                        <tr>
                            <td>{{ account.user.lastname }}</td>
                            <td>{{ account.user.firstname }}</td>
                            <td>{{ account.user.address }}</td>
                            <td>{{ account.user.zipcode }}</td>
                            <td>{{ account.user.city }}</td>
                            <td>{{ account.user.email }}</td>  
                            <td>
                                <a href="{{ path('confirm_users',{id: account.id}) }}" class="btn custom-btn btn-lg">Confirmer le compte</a>
                            </td>               
                        </tr>	
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-end mt-4">  
                <div class="col-lg-3">
                    <a href="{{ path('admin') }}" class="btn btn-lg custom-btn"><i class="fas fa-arrow-left"></i> Retour</a>
                </div>
            </div>
        </main>
{% endblock %}
