{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
    {% include 'admin_dashboard/_nav.html.twig' %}
        <main class="admin--main_container container">
            <h2 class="text-center mt-3">Tableau de bord</h2>
            <div class="row mt-5 justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-3 custom-color shadow">
                    <div class="col-12 alert-dark rounded-2">
                        <a href="{{ path('active-accounts') }}"><p class="text-center text-dark">
                            Compte utilisateurs
                        </p></a>
                    </div>
                    <div class="col-text text-center">   
                    <a href="{{ path('active-accounts') }}"><p class="fs-1">{{ active }}</p></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 custom-color shadow">
                    <div class="col-12 alert-dark rounded-2">
                        <a href="{{ path('inactive-accounts') }}"><p class="text-center text-dark">
                            Compte en attente de validation
                        </p></a>
                    </div>
                    <div class="col-text text-center">   
                        <a href="{{ path('inactive-accounts') }}"><p class="fs-1">{{ inactive }}</p></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 custom-color shadow">
                    <div class="col-12 alert-dark rounded-2">
                        <a href="{{ path('requested_books') }}"><p class="text-center text-dark">
                            Nombre de réservation
                        </p></a>
                    </div>
                    <div class="col-text text-center">   
                        <a href="{{ path('requested_books') }}"><p class="fs-1">{{ requestedbook }}</p></a>
                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-sm-12 col-md-5 custom-color shadow">
                    <div class="col-12 alert-dark rounded-2">
                        <p class="text-center text-dark">Emprunts datant de plus de 3 semaine</p>
                    </div>
                    <div class="table-responsive container mt-2">
                        <table class="table table-hover custom-table mt-0">
                            <tbody>
                                <tr class="text-center">
                                    <th>Identifiant</th>
                                    <th>Titre</th>
                                    <th>Date d'emprunt</th>
                                    <th>A rendre avant le:</th>
                                </tr>
                                {% for book in confirmrequestedbooks %}
                                {% if book.borrowedAt < date('-20 day') %}
                                <tr class="text-center">
                                    <td>{{ book.account.user.lastname }} {{ book.account.user.firstname }}</td>
                                    <td>{{ book.title }}</td>
                                    <td>{{ book.borrowedAt|date("d/m/Y") }}</td>     
                                    <td>{{ book.returnedAt|date("d/m/Y") }}</td>  
                                </tr>
                                {% else %}
                                {% endif %}	
                                {% endfor %}	
                            </tbody>
                           </table>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 custom-color shadow">
                    <div class="col-12 alert-dark rounded-2">
                        <p class="text-center text-dark">Liste des emprunts</p>
                    </div>
                    <div class="table-responsive container mt-2">
                        <table class="table table-hover custom-table mt-0">
                            <tbody>
                                <tr class="text-center">
                                    <th>Identifiant</th>
                                    <th>Titre</th>
                                    <th>Date d'emprunt</th>
                                    <th>A rendre avant le:</th>
                                </tr>
                                {% for book in confirmrequestedbooks %}
                                <tr class="text-center">
                                    <td>{{ book.account.user.lastname }} {{ book.account.user.firstname }}</td>
                                    <td>{{ book.title }}</td>
                                    <td>{{ book.borrowedAt|date("d/m/Y") }}</td>     
                                    <td>{{ book.returnedAt|date("d/m/Y") }}</td>  
                                </tr>	
                                {% endfor %}	
                            </tbody>
                           </table>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}

