{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
		{% include 'admin_dashboard/_nav.html.twig' %}
		<main class="admin--main_container">
			<h2 class="text-center mt-3">Liste des livres du catalogue</h2>
			<div class="row justify-content-end mt-4">  
                <div class="col-lg-3">
                    <a href="{{ path('admin') }}" class="btn btn-lg custom-btn"><i class="fas fa-arrow-left"></i> Retour</a>
                </div>
            </div>
			<div class="table-responsive container custom-table bg-light mt-2 p-3 shadow">
				<table class="table table-hover">
					<tbody>
						<tr class="text-center">
                            <th>Id</th>
							<th>Titre</th>
                            <th>Auteur</th>
                            <th colspan="2">
							<a href="{{ path('admin-library-new') }}" class="btn btn-lg custom-btn">Ajouter un livre</a>
                            </th>
						</tr>
						{% for book in books %}
							<tr class="text-center">
                                <td>{{ book.id }}</td>
								<td>{{ book.title }}</td>
								<td>{{ book.author }}</td>
								<td>
									<a href="{{ path('admin-library-edit', {id: book.id}) }}" class="btn btn-lg custom-btn">Editer</a>
								</td>
                                <td>
									<form method="post" action="{{ path('admin-library-delete', {id: book.id}) }}">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                                    	<button class="btn btn-lg custom-btn">Supprimer</button>
									</form>
                                </td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
                <div class="d-flex justify-content-center pagination-lg">
                    {{ knp_pagination_render(books, 'base/_pagination.html.twig') }}
                </div>
			</div>
		</main>
{% endblock %}
