{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
		{% include 'admin_dashboard/_nav.html.twig' %}
		<main class="admin--main_container container">
			<h2 class="text-center" style="margin-top: 5rem;">Ajouter un livre</h2>
			{{ form_start(form)}}
			<div class="row justify-content-end mt-4">  
                <div class="col-lg-3">
                    <a href="{{ path('admin-library') }}" class="btn btn-lg custom-btn"><i class="fas fa-arrow-left"></i> Retour</a>
					<button type="submit" class="btn btn-lg custom-btn">{{ button|default('Ajouter') }}</button>
                </div>
            </div>
            {{ include('admin_dashboard/_form.html.twig',{form: form, button: 'Ajouter'}) }}
		</main>
{% endblock %}
