{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
        {% include 'admin_dashboard/_nav.html.twig' %}
        <main class="admin--main_container container">
        <div class="row bg-light">
        {% for account in activeaccount %}
            <h2 class="text-center my-3">liste des livres empruntés par {{ account.user.lastname }} {{ account.user.firstname }}</h2>
        {% endfor %}  
            <div class="table-responsive container custom-table bg-light shadow p-6 ">
                <table class="table table-hover">
                    <tbody>
                        <tr class="text-center">
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Action</th>
                        </tr>
                        {% for book in requestedbook %}
                        <tr class="text-center">
                            <td>{{ book.id }}</td>
                            <td>{{ book.title }}</td>
                            <td>
                                <a href="{{ path('confirm_returned_book',{id: book.id}) }}" class="btn custom-btn btn-lg">Confirmer le retour</a>                                
                            </td>
                        </tr>	
                        {% endfor %}	
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-end mt-4">  
                <div class="col-lg-3">
                    <a href="{{ path('active-accounts') }}" class="btn btn-lg custom-btn"><i class="fas fa-arrow-left"></i> Retour</a>
                </div>
            </div>
        </main>
{% endblock %}