{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
		{% include 'admin_dashboard/_nav.html.twig' %}
		<main class="admin--main_container">
			<h2 class="text-center mt-3">Liste des réservations</h2>
			{% for flashMessage in app.session.flashbag.get('success') %}
				<div class="row">
					<div class="col-8 container">
						<p class="text-center w-responsive mx-auto mb-5 alert alert-success">{{ flashMessage }}</p>
					</div>
				</div>
            {% endfor %}
			<div class="table-responsive container custom-table bg-light shadow-lg p-3">
				<table class="table table-hover">
					<tbody>
						<tr class="text-center">
                            <th>Identifiant</th>
                            <th>Titre</th>
                            <th>Réservé le :</th>
                            <th>Action</th>
						</tr>
                        {% for book in requestedbooks %}    
							<tr class="text-center">
                                <td><span class="align-middle">{{ book.account.user.lastname }} {{ book.account.user.firstname }}</span></td>
                                <td><span class="align-middle">{{ book.title }}</span></td>
                                {% if book.requestedAt < book.MaxRequestedAt %}
                                <td><span class="bg-success text-light p-2 align-middle rounded-2">{{ book.requestedAt|date('d/m/Y') }}</span></td>
                                {% else %}
                                <td><span class="bg-danger p-2 text-light align-middle rounded-2">{{ book.requestedAt|date('d/m/Y') }}</span></td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('remove_request_book',{id: book.id}) }}" class="btn custom-btn btn-lg">Annuler</a>
                                    <a href="{{ path('confirm_request_book',{id: book.id}) }}" class="btn custom-btn btn-lg">Confirmer</a>                                
                                </td>
							</tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
			<div class="row justify-content-end mt-4">  
                <div class="col-lg-3">
                    <a href="{{ path('admin') }}" class="btn btn-lg custom-btn"><i class="fas fa-arrow-left"></i> Retour</a>
                </div>
            </div>
		</main>
{% endblock %}