{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
        {% include 'user_dashboard/_nav.html.twig' %}
        <main class="admin--main_container container">
            <h2 class="text-center mt-3">Tableau de bord</h2>
            <div class="row mt-5 justify-content-center">
                <div class="col-sm-12 col-md-4 col-lg-3 custom-color">
                    <div class="col-title">
                        <a href="#"><p class="text-center text-uppercase">
                            Mes informations
                        </p></a>
                    </div>
                    <div class="col-12 mt-4">   
                        <p class="text-center">{{ data.lastname }} {{ data.firstname }} </p>
                        <p class="text-center">{{ data.address }} <br> {{ data.zipcode }} {{ data.city }}</p>
                        <p class="text-center">{{ data.birthdate|date("d/m/Y") }}</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-8 custom-color">
                    <div class="col-title">
                        <a href="#"><p class="text-center text-uppercase">
                            Liste des mes reservations
                        </p></a>
                    </div>
                    <div class="col-12">
                        <p class="text-center my-2 alert alert-warning p-4 rounded-2">N'oubliez pas, vous avez 3 jours à 
                        compter de la date réservation pour venir récuperer le ou les livres, passé ce délais la réservation du livre sera annulée.
                        </p>
                    </div>
                    <div class="table-responsive container mt-2">
                        <table class="table table-hover custom-table mt-0">
                            <tbody>
                                <tr class="text-center">
                                    <th>Titre</th>
                                    <th>Auteur</th>
                                    <th>Date de réservation</th>
                                    <th>A récuperer avant le:</th>
                                </tr>
                                {% for book in requestedbooks %}
                                <tr class="text-center">
                                    <td>{{ book.title }}</td>
                                    <td>{{ book.author }}</td>
                                    <td>{{ book.requestedAt|date("d/m/Y") }}</td>     
                                    <td>{{ book.MaxRequestedAt|date("d/m/Y") }}</td>  
                                </tr>	
                                {% endfor %}	
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row p-2 justify-content-center">
                    <div class="col-12 custom-color">
                        <div class="col-title">
                            <a href="#"><p class="text-center text-uppercase">
                                Liste de mes emprunts
                             </p></a>
                        </div>
                    </div>
                    <div class="col-12">
                    {% if delayedbooks %}
                        <p class="text-center my-2 alert alert-danger p-4 rounded-2 text-uppercase">Attention ! vous avez {{ delayedbooks }} livres à retourner !
                        </p>
                    {% else %}
                    {% endif %}
                    </div>
                    <div class="col-12">
                        <div class="table-responsive container mt-2">
                            <table class="table table-hover custom-table mt-0">
                                <tbody>
                                    <tr class="text-center align-middle">
                                        <th>Titre</th>
                                        <th>Auteur</th>
                                        <th>Date de réservation</th>
                                        <th>A rendre avant le:</th>
                                    </tr>
                                    {% for book in confirmedbooks %}
                                    <tr class="text-center align-middle">
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.author }}</td>
                                        <td>{{ book.borrowedAt|date("d/m/Y") }}</td>     
                                    {% if book.returnedAt < date() %}
                                        <td><p class="alert alert-danger m-0">{{ book.returnedAt|date("d/m/Y") }}</p></td>  
                                    {% else %} 
                                        <td><p class="alert alert-success m-0">{{ book.returnedAt|date("d/m/Y") }}</p></td>
                                    {% endif %}   
                                    </tr>	
                                    {% endfor %}	
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}