{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<div class="container contact-container py-4">
    <h3 class="login-heading text-center mt-4">Nous Contacter</h3>
    <div class="row mt-4">
      <div class="col-lg-5">
        <img class="rounded-3" src="/images/photo-media-1.jpg" alt="photo mediatheque">
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <div class="row mt-4">
          <form id="contactForm">
            <div class="mb-3 col-12">
              <label class="form-label" for="name">Nom complet</label>
              <input class="form-control" id="name" type="text" placeholder="Name"/>
            </div>
            <div class="mb-3 col-12">
              <label class="form-label" for="emailAddress">E-mail</label>
              <input class="form-control" id="emailAddress" type="email" placeholder="exemple@exemple.fr"/>
            </div>
            <div class="mb-3 col-12">
              <label class="form-label" for="message">Message</label>
              <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required"></textarea>
            </div>
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">Le message à bien été envoyé !</div>
            </div>
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">Le message n'a pu être envoyé !</div>
            </div>
            <div class="d-grid col-12">
              <button class="btn custom-btn btn-lg" type="submit">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
