{{ form_start(form)}}
<div class="row justify-content-center" style="margin-top: 6rem;">
	<div class="col-sm-12 col-lg-8">
		<div class="row justify-content-center align-items-center">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<h4>Nom de la catégorie</h4>
				{{ form_row(form.title) }}
			</div>
			<div class="col-sm-12 col-lg-1">
				<button class="btn btn-lg custom-btn">{{ button|default('Ajouter') }}</button>
			</div>
		</div>
	</div>
</div>
{{form_end(form)}}
