{% extends 'base1.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
		{% include 'admin_dashboard/_nav.html.twig' %}
		<main class="admin--main_container container">
			<h2 class="text-center mt-3 mb-4">Editer une catégorie</h2>
			{{ include('admin_dashboard/category/_form.html.twig', {form: form, button: 'Editer'}) }}
		</main>
{% endblock %}
