.admin--main_container,
.library--main_container {
  padding: 2rem;
  min-height: 80vh;
  h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    color: $darkgrey;
  }
  .custom-color {
    border-radius: 0.6rem;
    background-color: rgba($lightgrey, 0.2);
    height: auto;
    margin: 1rem 2rem;
    .col-title {
      height: 2rem;
      background-color: rgba($lightgrey, 0.5);
      border-radius: 0.6rem;
      line-height: 2rem;
      a {
        text-decoration: none;
        color: $darkgrey;
        p {
        font-weight: 500;
        font-size: 1.4rem;
        font-family: $poppins;
      }
      }
    }
    .col-text {
      height: 8rem;
      line-height: 8rem;
      text-align: center;
      a {
        text-decoration: none;
        color: $darkgrey;
      }
      p {
        color: $darkblue;
        font-size: 4rem;
        font-weight: 700;
      }
    }
    .col-user_text {
      height: auto;
      padding: 1rem 0;
      p {
        color: $darkgrey;
        font-size: 1.4rem;
      }
    }
  }
  .custom-col-1,
  .custom-col-2 {
    border-radius: 0.6rem;
    background-color: rgba($lightgrey, 0.2);
    height: auto;
    margin: 1rem 2rem;
    .col-title {
      height: 2rem;
      background-color: rgba($lightgrey, 0.5);
      border-radius: 0.6rem;
      line-height: 2rem;
      a {
        text-decoration: none;
        color: $darkgrey;
      }
      p {
        font-weight: 500;
        font-size: 1.4rem;
      }
    }
    .col-text {
      height: 8rem;
      line-height: 8rem;
      text-align: center;
      a {
        text-decoration: none;
        color: $darkgrey;
      }
      p {
        color: $darkblue;
        font-size: 4rem;
        font-weight: 700;
      }
    }
    .custom-row {
      margin-bottom: 2rem;
      border-radius: 0.6rem;
      background-color: rgba($lightgrey, 0.2);
      .col-title {
        background-color: rgba($lightgrey, 0.5);
        height: 3.5rem;
        line-height: 3.5rem;
        text-transform: uppercase;
        p {
          font-family: $poppins;
          font-size: 3rem;
        }
      }
      .col-user_text {
        padding: 1rem 0;
        font-size: 1.4rem;
        p {
          color: $darkblue;
          a {
            font-size: 1.4rem;
            text-decoration: none;
          }
        }
        .btn-danger {
          font-size: 1.4rem;
        }
      }
    }
  }
  .custom-table {
    margin-top: 5rem;
    font-size: 1.4rem;
  }
  .custom-col-1 {
    background-color: inherit;
  }
  .custom-col-2 {
    a {
      transition: all 200ms ease-in-out;
      &:hover {
      color: $lightgrey;
    }
    }
  }
}
