footer {
  font-family: $poppins;
  margin-top: 2rem;
  text-align: center;
  span,
  p {
    font-size: 1.4rem;
    font-family: $pt;
    line-height: 1.4rem;
    color: $darkgrey;
    a {
      text-decoration: none;
      color: $darkgrey;
      transition: all 350ms ease-in-out;
      &:hover {
        color: $darkgreen !important;
      }
    }
  }
  h6 {
    font-weight: 700;
    font-size: 1.5rem;
    color: $darkgrey;
  }
  .social-links {
    i {
      font-size: 1.4rem;
      color: $darkgrey;
      transition: all 350ms ease-in-out;
      &:hover {
        color: $darkgreen !important;
      }
    }
  }
}
