.alert-homepage {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  margin: 2rem auto;
  font-family: $pt;
}
.carousel {
  .carousel-item {
    height: 40rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .carousel-caption {
    background: rgba($white, 0.8);
    padding: 1rem;
    h5 {
      text-transform: uppercase !important;
      font-family: $poppins;
      font-size: 1.6rem;
      font-weight: 800;
      color: $darkblue !important;
    }
    p {
      font-size: 1.4rem;
      color: $darkgrey;
      font-family: $pt;
    }
  }
}

.main--section {
  max-width: 35rem;
  min-height: 40vh;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: rgba($lightgrey, 0.5);
  padding: 0 1rem;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
    color: $darkblue;
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1.5rem;
      content: "";
      width: 20%;
      height: 0.3rem;
      background-color: $darkblue;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }
  }
  .main--section-text {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: $pt;
    text-align: center;
  }
  .custom-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
