.navbar {
  font-family: $poppins;
  border-bottom: 1px solid rgba($lightgrey, 1);
  -webkit-box-shadow: 0px -2px 10px 1px rgba($darkgrey, 0.5);
  box-shadow: 0px -2px 10px 1px rgba($darkgrey, 0.5);
  .navbar-brand {
    width: 15rem;
  }
  .navbar-nav {
    font-size: 1.4rem;
    .nav-item {
      margin: 1rem;
      .nav-link {
        padding: 1rem;
        color: $darkgrey;
        transition: all 350ms ease-in-out;
        &:hover {
          color: $lightgrey;
          background-color: $darkgrey;
        }
      }
      .logout-item {
        background-color: $darkgrey;
        color: $lightgrey;
      }
      .dropdown-menu {
        margin-top: 1rem;
        border-radius: 0.5rem;
        font-size: 1.4rem;
        padding: 1rem 1.5rem;
        .dropdown-item {
          margin: 1rem 0;
        }
      }
    }
  }
}
