.login {
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.6rem;
  .login-heading {
    font-weight: 800;
    font-size: 2.2rem;
    text-transform: uppercase;
  }
  p {
    background-color: rgba($lightgrey, 0.2);
    border-radius: 0.3rem;
    padding: 2rem;
    a {
      color: $darkgreen;
      transition: all 300ms ease-in-out;
      &:hover {
        color: rgba($lightgrey, 1);
      }
    }
  }
  label {
    margin-bottom: 0.5rem;
  }
  .custom-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  select {
    width: 7rem;
    height: 3rem;
  }
}

.bg-image {
  background: url("../../images/pexels-cottonbro-6344238.jpg") center no-repeat;
  background-size: cover;
  background-position: center;
}

.card-registration .select-arrow {
  top: 13px;
}

.contact-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .login-heading {
    font-weight: 800;
    font-size: 2.2rem;
    text-transform: uppercase;
  }
}
