* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background-color: rgba($lightgrey, 0.2);
}

p {
  font-size: 1.6rem;
  font-family: $pt;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.custom-btn {
  border: 1px solid $darkblue;
  border-radius: 1rem;
  font-family: $poppins;
  font-size: 1.3rem;
  color: $darkblue;
  transition: all 350ms ease-in-out;
  &:hover {
    background-color: $darkblue;
    color: $white;
  }
}

a {
  text-decoration: none;
  color: $darkgrey;
}

.page-item .page-link {
  color: rgba($darkblue, 1) !important;
}
.page-item.active .page-link {
  background-color: rgba($darkblue, 1)  !important;
  border-color: rgba($darkblue, 1)  !important;
  color: $white !important;
}
.page-item.disabled .page-link {
  color: rgba($darkgrey, 0.5) !important;
}

tr {
  text-align: center;
  vertical-align: middle;
}