<div class="card mb-3">
	<div class="row g-0">
		{% if book.image %}
			<div class="col-md-4">
				<img src="{{ vich_uploader_asset(book, 'imageFile') | imagine_filter('thumbnails_books') }}" class="img-fluid rounded-start" alt="lorem picsum">
			</div>
		{% else %}
			<div class="col-md-4">
				<img src="{{ asset('/images/nocover.jpg') | imagine_filter('thumbnails_books') }}" class="img-fluid rounded-start" alt="lorem picsum">
			</div>
		{% endif %}
		<div class="col-md-8" style="position: relative;">
			<div class="card-body">
				<h3 class="card-title" style="text-transform: uppercase;">{{ book.title }}</h3>
				<h4 class="card-title">{{ book.author.lastname }}
					{{ book.author.firstname }}
				</h4>
				{% for category in book.category %}
					<h5>
						<span class="badge bg-secondary">{{ category.title }}</span>
					</h5>
				{% endfor %}
				<p class="card-text">
					{{ book.description }}
				</p>
				<p class="card-text">
					<small class="text-muted">Date de publication:
						{{ book.releaseDate|date("d/m/Y") }}
					</small>
				</p>
				{% if book.isAvailable == true %}
					<button type="button" class="btn btn-success" data-bs-toggle="button" autocomplete="off">
						<i class="fas fa-plus"></i>
						Disponible
					</button>
				{% else %}
					<button type="button" class="btn btn-danger" disabled data-bs-toggle="button" autocomplete="off">Indisponible</button>
				{% endif %}
			</div>
			<div style="position: absolute; bottom: 1rem; right: 2rem">
				<a class="btn btn-lg custom-btn text-right" href="{{ path('book', {'slug': book.slug}) }}">Voir plus</a>
			</div>
		</div>
	</div>
</div>

