{% extends 'base.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and app.user.account.isActive == true) %}
		<div class="library--main_container container">
			<div class="row bg-light">
                <div class="col-12 container fs-5">
                    <nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
							<li class="breadcrumb-item"><a href="{{ path('library') }}">Le Catalogue</a></li>
							<li class="breadcrumb-item active" aria-current="page">{{ book.title }}</li>
						</ol>
					</nav>
                </div>
            </div>
			<div class="row justify-content-end mt-4">  
                <div class="col-lg-3">
                    <a href="{{ path('library') }}" class="btn btn-lg custom-btn"><i class="fas fa-arrow-left"></i> Retour</a>
                </div>
            </div>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-6 col-lg-8 custom-col-2 py-2">
					<div class="card mb-3">
						<div class="row g-0">
							{% if book.image %}
								<div class="col-md-4">
									<img src="{{ vich_uploader_asset(book, 'imageFile') | imagine_filter('books') }}" class="img-fluid rounded-start" alt="lorem picsum">
								</div>
							{% endif %}
							<div class="col-md-8" style="position: relative;">
								<div class="card-body" style="position: relative;">
									<h3 class="card-title" style="text-transform: uppercase;">{{ book.title }}</h3>
									<h4 class="card-title">{{ book.author.lastname }}
										{{ book.author.firstname }}</h4>
									{% for category in book.category %}
										<h5>
											<span class="badge bg-secondary">{{ category.title }}</span>
										</h5>
									{% endfor %}
									<p class="card-text">
										{{ book.description }}
									</p>
									<p class="card-text">
										<small class="text-muted">Date de publication:
											{{ book.releaseDate|date("d/m/Y") }}</small>
									</p>
									{% if book.isAvailable == true %}
										<h4>
											<span class="badge bg-success p-3">Disponible</span>
										</h4>
									{% else %}
										<h4>
											<span class="badge bg-danger p-3">Indisponible</span>
										</h4>
									{% endif %}
								</div>
								{% if book.isAvailable == false %}
								{% else %}
								<div style="position: absolute; bottom: 1rem; right: 2rem">
									<a href="{{ path('request_book',{id: book.id}) }}" class="btn btn-lg btn-primary">RESERVER</a>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="container vh-100 d-flex flex-column justify-content-center text-center">
			<h3>Votre compte est en attente de validation</h3>
		</div>
	{% endif %}
{% endblock %}
