{% extends 'base.html.twig' %}

{% block title %}Recherche | médiathèque La Chapelle-Curreaux{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and app.user.account.isActive == true) %}
        <div class="library--main_container container js-filter">
            <div class="row bg-light">
                <div class="col-12 container fs-5">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path('home') }}">Accueil</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Le catalogue</li>
                        </ol>
                    </nav>
                </div>
            </div>
            {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="row">
                <div class="col-8 container">
                    <p class="text-center w-responsive mx-auto mb-5 alert alert-success">{{ flashMessage }}</p>
                </div>
            </div>
            {% endfor %}
            {{ form_start(form, {attr: {class: 'js-filter-form'}}) }}
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-4 col-lg-3 custom-col-1">
                    <div class="row custom-row">
                        <div class="col-12">
                            <div class="col-title">
                                <p class="text-center">
                                    trier par
                                </p>
                            </div>
                            <div class="col-user_text d-flex flex-column px-2">
                                <p class="text-center js-filter-sort">
                                    {% include 'library/_sortable.html.twig' %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-12">
                            <div class="col-title">
                                <p class="text-center">
                                    Filtrer
                                </p>
                            </div>
                            <div class="col-user_text d-flex flex-column px-2">  
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <h4>Titre :</h4>
                                        {{ form_row(form.search) }}  
                                    </div>                                   
                                </div>
                                <div class="row mt-4">
                                    <div class="col-6">
                                        <h4>Genre :</h4>
                                        {{ form_row(form.categories) }}
                                    </div>
                                    <div class="col-6">
                                        <h4>Auteur :</h4>
                                        {{ form_row(form.authors) }}
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12">
                                    <h4>Année de publication</h4>
                                        {{ form_row(form.publishedAt) }}
                                    </div>
                                </div>   
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <h4>Disponibilité</h4>
                                        {{ form_row(form.isAvailable) }}
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <button class="btn custom-btn  w-100" type="submit">RECHERCHE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-8 custom-col-2 py-2 js-filter-content">
                    {% include 'library/_book.html.twig' %}
                </div>
            </div> 
            <div class="d-flex justify-content-center pagination-lg js-filter-pagination">
                {% include 'library/_pagination.html.twig' %}
            </div>
        {{ form_end(form) }}
        </div>
    {% else %}
        <div class="container vh-100 d-flex flex-column justify-content-center text-center">
            <h3>Votre compte est en attente de validation</h3>
        </div>
    {% endif %}
{% endblock %}
